.login-container {
  height: 100vh;
  display: flex;
}

.images-section {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  width: 80%;
  max-width: 400px;
}

.toggle-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.toggle-link:hover {
  color: #0056b3;
}
